html, body {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    color: #f0f0f0;
=======
    color:#f0f0f0;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
    background-color: #1c1b1b;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex: 1;
}

h1 {
<<<<<<< HEAD
    margin-bottom: 1rem;
=======
    margin: 0;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
    font-weight: bolder;
    font-size: 3.25rem;
    line-height: 4.7rem;
}
<<<<<<< HEAD

h2 {
    margin: 0;
}

.logo {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

=======
h2 {
    margin: 0;
}
.logo {
    
    text-align: center;
    color: #000;
    font-family: 'EB Garamond', serif;
    color: #1c1b1b;
}
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
.logo h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: 400;
    line-height: .8;
<<<<<<< HEAD
    color: #1C1B1B;
}

.logo p {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    color: #1C1B1B;
=======
}
.logo p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 2rem;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 5;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
=======
    /* padding-top: 25%;
    padding-left: 10%; */
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: light;
}
<<<<<<< HEAD

form input {
    width: auto;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 0.35rem;
    border: 0;
}

form button {
    margin-top: 1rem;
    width: 40%;
    padding: 0.75rem;
    background-color: #e77b50;
    color: #fff;
    font-size: 1rem;
    border: 0;
    border-radius: 0.35rem;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #eb8357;
=======
form input {
    width: auto;
    margin-top: 1rem;
    padding: .75rem;
    border-radius: .35rem;
    border: 0;
}
form button {
    margin-top: 1rem;
    width: 40%;
    padding: .75rem;
    background-color: #CF8B29;
    color: #fff;
    font-size: 1rem;
    border: 0;
    border-radius: .35rem;
    transition: .5s;     
}
button:hover {
    background-color: #d4953d;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    width: 100%;
<<<<<<< HEAD
    background-image: url("./images/bg-500px.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-media img {
    margin: 2rem 0rem;
    margin-right: 0.8rem;
    width: 2.5rem;
}

a:hover {
    opacity: 0.9;
}

=======
    background-image: url("./images/bg-500px.png"); 
    background-color: #cccccc; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
footer {
    flex: 1;
    padding: 1rem;
    background-color: #000;
    text-align: center;
<<<<<<< HEAD
    font-size: 0.8rem;
=======
    font-size: .8rem;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
<<<<<<< HEAD

=======
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
    h1 {
        font-size: 2rem;
        line-height: 1rem;
    }
<<<<<<< HEAD

    .image-container {
        height: 200px;
    }

    .logo {
        padding: 1.5rem;
    }

    .logo h2 {
        font-size: 3rem;
    }

    .logo p {
        font-size: 1rem;
    }

=======
    .image-container {
        height: 200px;
    }
    .logo {
        padding: 1.5rem;
    }
    .logo h2 {
        font-size: 3rem;
    }
    .logo p {
        font-size: 1rem;
    }
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
    .form-container {
        padding: 3rem 1rem;
        justify-content: start;
    }
<<<<<<< HEAD

    form {
        width: 96%;
=======
    form {
        width: 100%;
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
    }

    form input {
        margin-top: 1rem;
    }
<<<<<<< HEAD

    .social-media {
        margin-bottom: 2rem;
    }

    .social-media img {
        margin-right: 0.5rem;
        width: 1.7rem;
    }
}

@media only screen and (min-width: 768px) {
    .form-container {
        width: 85%;
    }

    form button {
        width: 80%;
    }
}
=======
        form h2 {
        padding-top: 0;
        font-weight: 300;
    }
    form button {
        margin-top: 2rem;
    }
    form h2 {
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}
>>>>>>> ae3c8219d01984c2402cd1a4267fbd804d633ae3
